<mat-toolbar color="primary" class="app-header">
  <!-- App Name -->
  <a routerLink="/" class="app-name-link">
    <span class="app-name">TV Tracker</span>
  </a>
  <br>

  <!-- Spacer to push menu and profile button to the right -->
  <span class="toolbar-spacer"></span>

  <!-- Main Menu -->
  <div class="main-menu">
    <button mat-button routerLink="/my-shows">My Shows</button>
    <button mat-button routerLink="/new-shows">All Shows</button>

    <button mat-button routerLink="/admin">Admin</button>
  </div>

  <!-- Spacer for far right alignment -->
  <span class="toolbar-spacer"></span>

  <!-- User Profile Button -->
  <button mat-icon-button routerLink="/user-selection" aria-label="User Profile">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
